#rtArea {
  position: absolute;
  left:     50%;
  top:      50%;
}

#my-canvas {
  display: block;
}

#configview {
  -o-transition-property: left;
  -o-transition-duration: 1s;
  -moz-transition-property: left;
  -moz-transition-duration: 1s;
  -webkit-transition-property: left;
  -webkit-transition-duration: 1s;
  border: 10px;
  position: fixed;
  height: 100%;
  width: 200px;
  top: 0;
  left: 0;
  opacity: 0.8;
  font-size: 16px;
  text-align: left;
  color: white;
  background: gray;
}

#text {
  -o-transition-property: bottom;
  -o-transition-duration: 1s;
  -moz-transition-property: bottom;
  -moz-transition-duration: 1s;
  -webkit-transition-property: bottom;
  -webkit-transition-duration: 1s;
  position: fixed;
  width: 100%;
  height: 20px;
  bottom: -20;
  opacity: 0.5;
  font-size: 18px;
  text-align: center;
  color: white;
  background: red;
}

#nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  background: gray;
  opacity: 0.8;
}

#file-dialog {
  display: none;
  position: fixed;
  top: 35%;
  right: 35%;
  width: 30%;
  height: 30%;
  min-width:200px;
  min-height:200px;
  background: gray;
  opacity: 0.75;
  border:solid 1px black;
}

div.sidebar-title {
  padding-left:10px;
  box-sizing:border-box;
  width: 100%;
  background-color:black;
  color:#05a5e0
}

div.sidebar-scrolled-content {
  width: 100%;
  background-color:#777;
  overflow:auto
}

div.sidebar-content {
  width:100%;
  box-sizing:border-box;
  padding-left:10px;
  padding-right:10px
}

div.sidebar-content select, input[type=checkbox] {
  border:solid 1px black;
}

#nav-bar div {
  border: solid 1px black;
}